<div class = 'container'>
  <h2><%= sidequest.name %></h2>
  <p>Address:<%= sidequest.address %></p>
  <p><%= sidequest.description%></p>
  <div>
    <%= link_to "Explore", trip_side_quest_path(sidequest), class: "btn-flat"  %>
  </div>
</div>
