
<div class="map-trips-edit"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-trip-value="<%= @trip.to_json %>"
>
  <div id="instructions"></div>
</div>


<div class = "footer-info">
  <%= link_to 'CONFIRM TRIP', trip_path(@trip), class: " btn foottext" %>
</div>
