<h1>Insert the starting point</h1>
<div class="container py-5">
  <div class="column">
    <div class="col-12 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h2>Plan Your Next Trip</h2>
        <%= simple_form_for @trip do |f| %>
          <%= f.input :start_point, placeholder: '11/11/2022' %>
          <%= f.input :end_point, placeholder: '12/11/2022' %>
          <div class = "footer" id= "footer-info">
            <div>
              <%= f.submit %>
            </div>
          </div>
          <%#= link_to "Cancel", root_path, class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="navbar-sidequests">
    <div class = "knight-logo">
      <img src="app/assets/images/Groupnavbar-knight.png" alt="Knight on Horseback Logo">
    </div>
    <div class = "avatar-hex">
    </div>
  </div>
  <div class="content">
    <div class="carousel">
    </div>
    <div class="preferences-form">
    </div>

  </div>
  <div class="footer">
  </div>
</div>
