<div class = "container">
  <div>
    <h1>Here is a map with all your SideQuests</h1>
    <%= render 'modal', sidequest: @sidequest %>
  </div>
  <%= link_to 'Show me this specific SideQuest', sidequest_path(@sidequests.last), class: 'btn btn-outline-danger' %>
</div>
