
<h1> SideQuest</h1>
<%= link_to 'Create my SideQuest', new_sidequest_path, class: 'btn btn-outline-danger' %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
