<div class = "container text-center ">
  <div class = "homepage">
    <div>
      <h1>Sidequests</h1>
    </div>
    <%= link_to 'Start your trip',new_trip_path, class: 'btn-flat' %>
    <div class = "py-4">
      <p>The journey is the destination</p>
    </div>
  </div>
</div>
