.btn-flat {
  color: $dark-blue;
  border: 1px solid $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  background: $white;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: $dark-blue;
  color:$white;
}
