.btn-flat {
  font-family: "Josefin Sans";
  color: $light-blue!important;
  border: 1px solid $light-blue;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-blue!important;
  transition: background 0.3s ease;
  text-decoration: none;
  outline: none;

}

.btn-flat:hover {
  background: $light-blue;
  color:$light-blue;
}

.footbutton {
  text-decoration: none !important;
  color: #17285B !important;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 24px !important;
  text-transform: uppercase !important;
}
