.homebox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background: linear-gradient(
    0deg,
    #071651 35%,
    rgba(63, 100, 210, 0.78) 85%,
    #8198e8 100%
  );
}

.tagline {
  margin: 12px;
  color: #ffffff !important;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.headcity {
  font-family: "Josefin Sans";
  font-style: normal;
  color: #ffffff;
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
  }
  p {
    font-size: 24px;
    color: #ffffff;
  }
}

.btn-wideboy {
  margin-top: 44px;
  width: 100%;
  height: 56px;
  background: #e5e9f7;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  color: #4c6085;
  text-decoration: none;
  height: 33px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  background-color: #e5e9f7;
}

.content-box {
  position: absolute;
  bottom: 170px;
}
