.mapboxgl-popup {
  max-width: 220px;

  .mapboxgl-popup-close-button {
    display: none;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.scrollable-section {
  max-height: 200px;
  overflow: scroll;
}
.sidequest-popup-links {
  background-color: white;
  padding-top: 8px;
}
.sidequest-popup {
}
.sidequest-popup h2 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 6px;
}

.sidequesst-popup-address {
  font-size: 13px;
  opacity: 0.7;
}
.sidequesst-popup-description {
  font-weight: lighter;
  font-size: 13px;
}

#instructions {
  position: absolute;
  z-index: 100;
  top: 20px;
  left: 20px;
  width: 150px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: 14px;
}

.map-trips-edit {
  width: 100%;
  height: calc(100vh - 128px);
}

.map-trips {
  min-height: 50vh;
}
