.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#instructions {
  position: absolute;
  margin: 20px;
  width: 15%;
  top: 20%;
  padding: 20px;
  background-color: #fff;
  font-family: sans-serif;
}
