.mapboxgl-popup {
  max-width: 220px;

  .mapboxgl-popup-close-button {
    display: none;
  }
}


.scrollable-section {
  max-height: 190px;
  overflow: scroll;
}
.sidequest-popup-links {
  background-color: white;
  padding-top: 8px;
}

.sidequest-popup h2 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 6px;
}

.sidequesst-popup-address {
  font-size: 13px;
  opacity: 0.7;
}
.sidequesst-popup-description {
  font-weight: lighter;
  font-size: 13px;
}

#instructions {
  height: 50%;
  position: absolute;
  width: 100%;
  top: 56%;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  font-family: sans-serif;
  background-color: #e5e9f7;
}

.map-trips-edit {
  width: 100%;
  height: calc(100vh - 128px);
}

.map-trips {
  min-height: 50vh;
}




img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
