.navbar-brand img {
  width: 40px;
  height: 40px;
}

.footer-container {
  background-color: #f3de19;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

.navbar-sidequests {
  display: flex;
  height: 72px;
  width: auto;
  background: #e5e9f7;
  justify-content: space-between;
  align-items: center;
}

.knight-logo {
  width: 34px;
  height: 35px;
  top: 8px;
}

.avatar-hex {
  width: 48px;
  height: 48px;
  background: url(assets/images/sqs/Avataravatar-hex.png);
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.fa-chevron-left {
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn a {
  text-decoration: none;
}
