.navbar-brand img {
  width: 40px;
}

.footer-container {
  background-color: #F3DE19;
  position: fixed;
  bottom: 0%;
  width: 100%
};

.navbar-sidequests {
  display: flex;
  height: 72px;
  width: auto;
  background: #E5E9F7;
  justify-content: space-between;
  align-items: center;

}

.knight-logo {
  width: 34px;
  height: 35px;
  top:8px;
}

.avatar-hex {
  width: 48px;
  height: 48px;
  background: url(assets/images/sqs/Avataravatar-hex.png)
}
