.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer-container {
  background-color: #F3DE19;
  position: fixed;
  bottom: 0%;
  width: 100%
};

.navbar-sidequests {
  height: 72px;
  width: auto;
  background: #E5E9F7

}

.knight-logo {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;

}

.avatar-hex {
  width: 48px;
  height: 48px;
  background: url(assets/images/sqs/Avataravatar-hex.png)

}
