p {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #17285b;
}

h1 {
  font-family: Josefin Sans;
}

h2 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #4c6085;
}

h3 {
  font-family: Josefin Sans;
}

label {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: #17285b;
}

.foottext {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #17285b;
  text-decoration: none;
}
