.trip-card {
  position: fixed;
  top: 359px;
  display: grid;
  justify-items: normal;
  width: 100%;
  height:auto;
}

.trip-title {
  display: flex;
  font-family: "Josefin Sans";
  background-color: $dark-blue;
  color: $light-blue;
}

.placename {
  margin-left: 12px;
}

.trip-eta-cards{
  display: flex;
  // place-content: space-between;
  position: fixed;
  top: 595px;
  background-color: $dark-blue;
  color: $light-blue;
}

.trip-origin-address-icon {
  position: absolute;
  right: 30px;
  top: 356px;
}

.trip-destination-address-icon{
  position: absolute;
  right: 30px;
  bottom: 280px;
}

.trip-info a{
  text-decoration: none;
  font-family: "Josefin Sans";
  color: #4C6085;
}
