.trip-card {
  width: 100%;
  height: auto;
}

.trip-title {
  display: flex;
  font-family: "Josefin Sans";
  background-color: $dark-blue;
  color: $light-blue;
}

.placename {
  margin-left: 12px;
}

.trip-eta-cards {
  display: flex;
  // place-content: space-between;
  position: fixed;
  top: 595px;
  background-color: $dark-blue;
  color: $light-blue;
}

.trip-origin-address-icon {
  position: absolute;
  right: 30px;
  top: 356px;
  i {
    color: $light-yellow;
  }
}

.trip-destination-address-icon {
  position: absolute;
  right: 30px;
  bottom: 270px;
  i {
    color: $light-yellow;
  }
}

.trip-info a {
  text-decoration: none;
  font-family: "Josefin Sans";
  color: #4c6085;
}

.trips-display-card {
  background-color: #4c6085;
  font-family: "Josefin Sans";
  color: white;
}

.trip-list-card {
  background-color: $dark-blue;
  color: white;
  margin-bottom: 18px;
  padding-top: 16px;
  padding-bottom: 30px;
  font-size: 14px;
}

.trip-date {
  color: white;
  font-weight: lighter;
}

.sidequest-number {
  color: white;
  font-weight: lighter;
}

.trip-link {
  color: white;
}
