<div class = 'container'>
  <small>
    <h2><%= sidequest.name %></h2>
    <p><%= sidequest.address %></p>
    <p><%= sidequest.description%></p>
  </small>
  <%= link_to "Explore", trip_side_quest_path(@trip, sidequest), class: "btn-flat"  %>
</div>
