<div class = "container text-center">
  <div>
    <h1>Here is a map with all your SideQuests</h1>
    <%# still working on this !! PLEASE DON NOT TOUCH  %>
    <%#= render 'modal', sidequest: @sidequest %>
  </div>
  <%= link_to 'Show me this specific SideQuest', side_quests_path(@sidequests.last), class: 'btn btn-outline-success' %>
</div>
