<div style="width: 100%; height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%=  ENV['MAPBOX_API_KEY'] %>" >
</div>
<div class = "content">
  <div class = "preferences-form">
    <div class = "text-center">
      <h1>Here is a map with all your SideQuests</h1>
      <%# still working on this !! PLEASE DON NOT TOUCH  %>
      <%#= render 'modal', sidequest: @sidequest %>
</div>
<div class = "footer-info text-center">
</div>
