<div class = 'container mt-2'>
  <div class = 'row'>
    <%= render 'form', sidequest: @sidequest %>
  </div>
</div>
<%# <div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Save', "", class: "btn btn-link" %>
  <%# </div>
</div> %>
