<%#= turbo_frame_tag :remote_modal, target: :_top do %>
  <%# <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> %>
        <%# <div class="modal-body"> %>
          <%#= render "modal", review: @reviews %>
        <%# </div>
      </div>
    </div>
  </div> %>
<%# end %>
<div class= 'container' data-controller="modal">
  <% @sidequest.reviews.each do |review| %>
    <li class='list-group-item'>
      <small>
        <% count = 0 %>
        <% 5.times do %>
          <% if review.rating > count %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
          <% count += 1 %>
        <% end %>
      </small>
      <p><%= review.body %></p>
    </li>
  <% end %>
</div>
<div class = "footer-info text-center">
  <div class = "btn">
    <%= link_to 'Back', side_quests_path(@sidequest), class: 'btn footbutton' %>
  </div>
</div>
